*{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  :root {
    /* basic interval is 1rem == 16px */
    --font-base-body-px: 16px;
    --spacing: 1rem;
  
    /* Maximum width of material */
    --max-width: 900px;
  
    /* Border widths */
    --border-small: 1px;
    --border-large: 8px;
    --border-radius: 6px;
  
    /* Colors */
    --color-gold: #ffe7ae;
    --color-gold-light: #fff1cf;
    --color-dark: #2f0505;
    --color-light: #fff9ee;
    --color-red: #DC1010;
  
    /* Font settings */
    --font-base-size: 1rem;
    --font-family-base: 'Noto Sans Display', Helvetica, Arial, sans-serif;
    --font-family-heading: 'Lora', Georgia, serif;
}
  


header{
    display: block;
    color: var(--color-gold-light);
    font-family: var(--font-family-heading);

    padding: 1rem;
    width: 100%;

    background-color: var(--color-dark);
    

    text-align: center;
}

.image{
    width: var(--max-width);
}

nav{
    text-align: center;
    background-color: var(--color-gold-light);
    padding: 1rem;
    border-bottom: solid var(--border-large) var(--color-gold);
}
nav li{
    display: inline-block;
    padding-inline-start: 20px;
    padding-block: 2px;
    list-style: none;
    
}

body{
    background-color: var(--color-light);
    align-items: center;

    font-family: var(--font-family-base);
    font-size: 1rem;
    
}
main{

    font-size: var(--font-base-body-px);   
}

main li{
    background-color: var(--color-light);
    margin: var(--spacing);
    
}

.content{
    display: inline-block;
    vertical-align: top;
    
    padding: 2rem;

    width: 40%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;    
    flex-wrap: wrap;
    background-color: var(--color-gold);
}

.box{
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--color-gold);
}



#border{
    border-top: solid #EEDCAB;
}

#button{
    padding: var(--spacing);
    background-color: #E9E9E9;
    border-radius: var(--border-radius);
}


a:link{
    color: var(--color-red);
    text-decoration: none;
}
a:visited{
    color: var(--color-red);
}


footer{
    background-color: var(--color-dark);
    border-top: var(--border-large) solid var(--color-gold);

    padding: 20px;
    margin-top: 15%;
    color: var(--color-gold-light);
}


dl{
    display: block;
    
}

ul li{
    margin-bottom: 5px;
}
